body {
    background: repeating-radial-gradient( circle, purple, purple 10px, #4b026f 10px, #4b026f 20px );
    padding-top: 70px;
}

#chirps {
    color: ghostwhite;
    
}

#tbody {
    color: ghostwhite;
    
}

#userName {
    font-family:Georgia;
}

#updateProfile {
    background-color:black;
    color: #A0A0A0;
}

div.profile{
    width:220px;
    padding:10px;
    border:5px ;
    margin:0px;
}

h2.center{
    align-content:center;
}

img.profile{
    width:150px;
    height:200px;
    align-content:center;
     border: 2px solid;
    border-radius: 25px;
}

#mailInbox {
    position:inherit;
    align-content:center;
}

